VITE_APP_LANGUAGE=en
VITE_API_URL="http://localhost:8000"
VITE_APP_URL="http://localhost:5173"
VITE_AUTH_REDIRECT_URL="http://localhost:5173/discover"

VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""
VITE_OPENWEATHER_API_KEY=""
